/* css */
/* formatting for the console is in globals */

body {
    background: #909193 url(images/backdrop.png) repeat;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;
    color: #FFFFFF;
}

table {
    border-collapse: collapse;
    border: 2px solid white;
	padding: 0 5px;
}

td {
    width: 38px;
}

.normal_button {
    width: 100px;
	margin: 4px;
}

#toptable table, #toptable th, #toptable td {
    text-align: center;
    padding: 0 230px;
}

#display {
    background-color: #000000;
    cursor: default;
}

#divUserProgramInput {
    float: left;
}

#dataDiv {
    float:left;
    background-color: #555555;
    padding: 2px 2px;
}

#dataDivMemory {
    float: left;
    height: 500px;
    width: 250px;
    overflow: auto;
    background-color: #000000;
    margin: 2px 2px;
	font-size: 80%;
    text-align: center;
}

#dataDivFileSystem {
    float: left;
    height: 500px;
    width: 554px;
    overflow: auto;
    background-color: #000000;
    margin: 2px 2px;
	font-size: 80%;
}

#dataDivPCData {
    float: down;
    margin: 2px 2px;
    text-align: center;
}

#dataDivReadyQueue {
    float: left;
    margin: 2px 2px;
    text-align: center;
}

#divLog {
    float: left;
    width: 360px;
    height: 450px;
}